<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        KYC认证管理
      </h1>
      <div class="input-group" style="position: relative;display: table;border-collapse: separate;width: 13%;margin-top: 14px;">
        <input id="search" type="text" name="message" placeholder="Search" class="form-control">
        <span class="input-group-btn">
          <button onclick="search()" type="button" class="btn btn-primary btn-flat">搜索</button>
        </span>
      </div>
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>时间</th>
                    <th>ID</th>
                    <th>手机号</th>
                    <th>真实姓名</th>
                    <th>昵称</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody id="listbody">
  
                </tbody>
            
              </table>
              <div class="row">
                <div class="col-sm-12">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination" id="pages">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script type="text/javascript">
    $(function () {
      initData(1);
    });
  
    //加载初始化数据
    function initData(page) {
      var listhtml = '';
      $.ajax({
        type: 'POST',
        dataType: "json",
        url: "/admins/kycList",
        data: {
          page: page
        },
        success: function (result) {
          $.each(result.data, function (i, item) {
            var time = Format(item.createdAt,"yyyy-MM-dd HH:mm:ss");
            listhtml += '<tr><td>'+time+'</td><td>'+item.id+'</td><td>' + item.phone + '</td><td>' + item.name + '</td><td>' + item.nick + '</td> <td>' + showStatus(item.status) + '</td><td><a href="/admin/kycDetail/?'+'id='+item.id+'">详情</a></td></tr>';
          });
          $('#listbody').html(listhtml);
          if(result.page==1){
            var predisabled = 'disabled';     
          }else{
            var prepage = 'onclick="initData('+result.prepage+')"'; 
          }
          if(result.page==result.pages){
            var nextdisabled = 'disabled';
          }else{
            var nextpage = 'onclick="initData('+result.nextpage+')"';
          }
          if(result.pages>10){
            var pagestr='';
            var i = (result.page-5)>1?result.page-5:1;
            var j = (i+9)>result.pages?15:i+9;        
            for(i;i<=j;i++){
              var active = result.page==i?'active':'';
              var pageclick = result.page==i?'':'onclick="initData('+i+')"';
              pagestr += '<li class="paginate_button '+active+'"><a href="javascript:void(0);" aria-controls="example2" tabindex="0" '+pageclick+'>'+i+'</a></li>';
            }
          }else{
            var pagestr='';
            for(var i=1;i<=result.pages;i++){
              var active = result.page==i?'active':'';
              var pageclick = result.page==i?'':'onclick="initData('+i+')"';
              pagestr += '<li class="paginate_button '+active+'"><a href="javascript:void(0);" aria-controls="example2" tabindex="0" '+pageclick+'>'+i+'</a></li>';
            }
          }
          $('#pages').html('<li class="paginate_button active" style="line-height: 34px;padding: 0 10px;">共'+result.pages+'页</li><li class="paginate_button previous '+ predisabled +'" id="example2_previous"><a href="javascript:void(0);" aria-controls="example2" data-dt-idx="0" tabindex="0" '+prepage+'>上一页</a></li>'+pagestr+'<li class="paginate_button next '+ nextdisabled +'" id="example2_next"><a href="javascript:void(0);" aria-controls="example2" data-dt-idx="7" tabindex="0" '+nextpage+'>下一页</a></li>');
        },
        error: function (data) {
          //alert("发生错误");
        }
      });
    }


    //加载初始化数据
    function initData2(page,phone="") {
      var listhtml = '';
      $.ajax({
        type: 'POST',
        dataType: "json",
        url: "/admins/kycList",
        data: {
          page: page,
          phone: phone
        },
        success: function (result) {
          $.each(result.data, function (i, item) {
            listhtml += '<tr><td>'+item.id+'</td><td>' + item.phone + '</td><td>' + item.name + '</td><td>' + item.nick + '</td> <td><a href="/admin/kycDetail/?'+'id='+item.id+'">详情</a></td></tr>';
          });
          $('#listbody').html(listhtml);
          if(result.page==1){
            var predisabled = 'disabled';     
          }else{
            var prepage = 'onclick="initData('+result.prepage+')"'; 
          }
          if(result.page==result.pages){
            var nextdisabled = 'disabled';
          }else{
            var nextpage = 'onclick="initData('+result.nextpage+')"';
          }
          if(result.pages>10){
            var pagestr='';
            var i = (result.page-5)>1?result.page-5:1;
            var j = (i+9)>result.pages?15:i+9;        
            for(i;i<=j;i++){
              var active = result.page==i?'active':'';
              var pageclick = result.page==i?'':'onclick="initData('+i+','+phone+')"';
              pagestr += '<li class="paginate_button '+active+'"><a href="javascript:void(0);" aria-controls="example2" tabindex="0" '+pageclick+'>'+i+'</a></li>';
            }
          }else{
            var pagestr='';
            for(var i=1;i<=result.pages;i++){
              var active = result.page==i?'active':'';
              var pageclick = result.page==i?'':'onclick="initData('+i+','+phone+')"';
              pagestr += '<li class="paginate_button '+active+'"><a href="javascript:void(0);" aria-controls="example2" tabindex="0" '+pageclick+'>'+i+'</a></li>';
            }
          }
          $('#pages').html('<li class="paginate_button active" style="line-height: 34px;padding: 0 10px;">共'+result.pages+'页</li><li class="paginate_button previous '+ predisabled +'" id="example2_previous"><a href="javascript:void(0);" aria-controls="example2" data-dt-idx="0" tabindex="0" '+prepage+'>上一页</a></li>'+pagestr+'<li class="paginate_button next '+ nextdisabled +'" id="example2_next"><a href="javascript:void(0);" aria-controls="example2" data-dt-idx="7" tabindex="0" '+nextpage+'>下一页</a></li>');
        },
        error: function (data) {
          //alert("发生错误");
        }
      });
    }

    //代理状态
    function showStatus(status){
      if(status==0){
        return "待认证";
      }else if(status==1){
        return "审核通过";
      }else if(status==2){
        return "审核不通过"
      }

    }

    //搜索
    function search(){
      var search=$('#search').val();
      //alert(search);
      initData2(1,search);

    }
  </script>